#contact {
    width: 80%;
}
.about-us {
    width: 100%;
    height: 300px;
    display: flex;
    order: 6;
}
.p-trigger {
    letter-spacing: 2px;
    color: white;
    font-size: 24px;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    transition: 0.5s;
}
.p-trigger:hover {
    color: black;
}
.p-trigger:hover > .p-img {
    top: 20px;
    filter: grayscale(0);
}
.p-img {
    position: relative;
    margin: 0 auto;
    display: block;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    top: 100px;
    transition: 0.5s;
}
.p1-img {
    background: url(../images/P1.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.p2-img {
    background: url(../images/P2.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.p3-img {
    background: url(../images/P3.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.p4-img {
    background: url(../images/P4.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.p5-img {
    background: url(../images/P5.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.p6-img {
    background: url(../images/P6.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.about-us-quote {
    margin: 80px 0;
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.special-thanks-btn {
    margin: 0 auto;
    text-align: center;
    width: 100px;
    background: #000;
    color: white;
    font-size: 20px;
}
.special-thanks-list {
    display: none;
    margin: 0 auto;
    padding: 80px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 32px;
    width: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.918);
    color: hsl(60, 100%, 85%);
    height: 100vh;
}
.special-thanks-list > h2 {
    margin-top: 40px;
    font-size: 60px;
    letter-spacing: 6px;
}
.special-thanks-list > h4 {
    font-size: 20px;
    margin-bottom: 80px;
}
.special-thanks-list > p {
    margin: 20px;
    letter-spacing: 2px;
}
