* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

.main {
    display: none;
}
.main-box {
    padding: 120px 0;
    margin: 0 auto;
    width: 70%;
}
.main-content {
    width: 100%;
    position: absolute;
    top: 150px;
    left: 0px;
}
.para-english {
    font-family: serif;
    letter-spacing: 1.5px;
    margin: 20px;
    font-size: 28px;
}
