.title {
    letter-spacing: 4px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}
.content {
    padding: 25px;
    overflow-wrap: break-word;
    font-size: 20px;
    margin-top: 20px;
    height: 500px;
}
.about-title {
    background-color: seagreen;
}

.about-main {
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content > div {
    display: inline-block;
}
.main-photo1 {
    width: 450px;
    height: 100%;
    clip-path: polygon(0 50%, 84% 100%, 84% 0);
    background: url(../images/20200320_180208.jpg);
    background-size: auto 100%;
    background-position: center;
}
.main-video1 {
    float: right;
    width: 450px;
    height: 100%;
    clip-path: polygon(16% 0, 16% 100%, 100% 50%);
    background: url(../images/20200320_180208.jpg);
    background-size: auto 100%;
    transition: 0.5s;
}
.main-video1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../images/20200320_180208.jpg);
    background-size: auto 100%;

    /* filter: brightness(0.5); */
}
.main-video1:hover .play-button {
    display: block;
}
.play-button {
    cursor: pointer;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: polygon(42% 43%, 42% 57%, 54% 50%);
}

.a_01 {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.a_01 .a11 {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.a_01 .a11:hover {
    height: 420px;
}

.a_01 .a_11 .a_21 {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.a_01 .a_11 .a_21 img {
    max-width: 100%;
    border-radius: 10px;
}

.a_01 .a_11 .a_12 {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.a_01 .a_11:hover .a_12 {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.subject-title {
    background-color: yellowgreen;
}

.subject-content {
    display: flex;
    background-color: yellowgreen;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.content-title {
    background-color: orange;
}

.content-content {
    margin-top: 50 px;
    position: relative;
    height: 500px;
    /* background-color: orange; */
    display: flex;
    border: 2px solid #000;
}

.content-content .ce_11:nth-child(1) {
    background: url(../images/柔03.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}

.content-content .ce_11:nth-child(1):hover {
    animation: change;
}

.content-content .ce_11:nth-child(2) {
    background: url(../images/包01.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}
.content-content .ce_11:nth-child(3) {
    background: url(../images/包04.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}
.content-content .ce_11:nth-child(4) {
    background: url(../images/昌01.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}
.content-content .ce_11:nth-child(5) {
    background: url(../images/游01.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}
.content-content .ce_11:nth-child(6) {
    background: url(../images/YA02.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}
.content-content .ce_11:nth-child(7) {
    background: url(../images/YA01.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}

.ce_11 {
    opacity: 0.5;
    position: relative;
    height: 100%;
    flex: 1;
    border-right: 2px solid rgba(0, 0, 0, 1);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.content-content:last-child {
    border-right: none;
}

.content-content .ce_11:hover {
    flex-grow: 5;
}

.ce_12 {
    position: absolute;
    bottom: 0;
    margin: 40px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0;
    transform: translateY(100px);
}

.ce_11:hover {
    opacity: 1;
    transition: 0.5s;
}

.ce_11:hover .ce_12 {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0);
}

.u_22 {
    background-color: aqua;
}
.u_23 {
    background-color: aquamarine;
}
.u_24 {
    background-color: blue;
}

/* .contact-title {
    background-color: seagreen;
} */

.contact-main {
    margin-top: 20px;
    height: 620px;
    width: 1100;
    /*background-color: seagreen;*/
}

.ca_11 {
    width: 600px;
    height: 650px;
    /*background-color: springgreen;*/
    float: left;
}
.ca_21 {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: sandybrown;
}
.ca_22 {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 160px;
    background-color: sandybrown;
}

.ca_12 {
    position: relative;
    width: 450px;
    height: 650px;
    background-color: skyblue;
    float: left;
    /* right: 80px; */
}

.person-photo {
    border-radius: 50%;
    position: absolute;
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    transition: 0.3s;
}
.person-photo:hover {
    transform: translateY(-95px);
    filter: grayscale(0);
}

/*上差-180px  左差50px*/
#person-photo-1 {
    top: 0px;
    left: 0px;
    background-size: cover;
    background: url(../images/C01.jpg);
}
#person-photo-1:hover ~ .ca_29 {
    background: url(../images/C01.jpg);
    opacity: 1;
}

#person-photo-2 {
    top: 50px;
    left: 60px;
    background: url(../images/C02.jpg);
}
#person-photo-2:hover ~ .ca_29 {
    background: url(../images/C02.jpg);
    opacity: 1;
}

#person-photo-3 {
    top: 100px;
    left: 120px;
    background: url(../images/C03.jpg);
}
#person-photo-3:hover ~ .ca_29 {
    background: url(../images/C03.jpg);
    opacity: 1;
}

#person-photo-4 {
    top: 120px;
    left: 175px;
    background: url(../images/C04.jpg);
}
#person-photo-4:hover ~ .ca_29 {
    background: url(../images/C04.jpg);
    opacity: 1;
}
#person-photo-5 {
    top: 140px;
    left: 225px;
    background: url(../images/C05.jpg);
}
#person-photo-5:hover ~ .ca_29 {
    background: url(../images/C05.jpg);
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    background-size: auto 100%;
}

#person-photo-6 {
    top: 160px;
    left: 275px;
    background-color: seashell;
    object-fit: cover;
    background: url(../images/C06.jpg);
    filter: grayscale(100%);
}
#person-photo-6 img {
    transform: scale(1);
    transition: all 1s ease-out;
}
#person-photo-6:hover ~ .ca_29 {
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    background-size: auto 100%;
    background: url(../images/C06.jpg);
}
.ca_29 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 250px;
    height: 250px;
    border: 3px #000 solid;
}
