* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

.main {
    display: none;
}
.main-box {
    padding: 100px 0;
    margin: 0 auto;
    width: 70%;
}
.main-content {
    width: 100%;
    position: absolute;
    top: 150px;
    left: 0px;
}
.para-english {
    font-family: serif;
    letter-spacing: 1.5px;
    margin: 20px;
    font-size: 28px;
}

.title {
    letter-spacing: 4px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif, 'Microsoft JhengHei';
}
.home-title {
    font-family: 'Poppins', sans-serif;
}
.content {
    padding: 25px;
    overflow-wrap: break-word;
    font-size: 20px;
    margin-top: 20px;
    height: 500px;
}

.home-title {
    margin-bottom: 40px;
}
.home-content > div {
    display: inline-block;
}
.main-photo1 {
    width: 450px;
    height: 100%;
    clip-path: polygon(0 50%, 84% 100%, 84% 0);
    background: url(../images/20200320_180208.jpg);
    background-size: auto 140%;
    background-position: 60% 0;
}
.main-video1 {
    float: right;
    width: 450px;
    height: 100%;
    clip-path: polygon(16% 0, 16% 100%, 100% 50%);
    background: url(../images/home1.jpg);
    background-size: auto 100%;
    background-position: 50% 0%;
    transition: 0.5s;
}
.main-video1:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../images/home1.jpg);
    background-size: auto 100%;
    background-position: 50% 0%;
}
.main-video1:hover .play-button {
    display: block;
}
.play-button {
    cursor: pointer;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: polygon(42% 43%, 42% 57%, 54% 50%);
}

.a_11 {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.a_11 .a21 {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.a21:hover .a_31 {
    height: 420px;
}
.img:hover .a_31 {
    height: 420px;
}
.a_11 .a_21 .a_31 {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
.a_11 .a_21 .a_31 img {
    max-width: 100%;
    border-radius: 10px;
}

.a_11 .a_21 .a_32 {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.a_11 .a_21:hover .a_32 {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.subject-content {
    margin-top: 120px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.subject-photo-box {
    margin: 0 100px;
    box-shadow: 0px 0px 20px 5px rgb(128, 128, 128);
    transition: 0.4s;
}
.subject-photo-box:hover {
    box-shadow: 0px 0px 30px 8px rgb(128, 128, 128);
}
.subject-text {
    font-size: 28px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Microsoft JhengHei';
}
.subject-photo {
    width: 350px;
    height: 350px;
}
.subject-photo1 {
    background: url(../images/發想.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
.subject-photo2 {
    background: url(../images/目標.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.content-content {
    margin-top: 50 px;
    position: relative;
    height: 600px;
    /* background-color: orange; */
    display: flex;
    border: 2px solid #000;
}

.content-content .ce_11:nth-child(1) {
    background: url(../images/柔03.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}

.content-content .ce_11:nth-child(2) {
    background: url(../images/包01.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}
.content-content .ce_11:nth-child(3) {
    background: url(../images/包04.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}
.content-content .ce_11:nth-child(4) {
    background: url(../images/昌04.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}
.content-content .ce_11:nth-child(5) {
    background: url(../images/游01.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}
.content-content .ce_11:nth-child(6) {
    background: url(../images/YA02.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}
.content-content .ce_11:nth-child(7) {
    background: url(../images/YA01.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}

.ce_11 {
    opacity: 0.5;
    position: relative;
    height: 100%;
    flex: 1;
    border-right: 2px solid rgba(0, 0, 0, 1);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.content-content:last-child {
    border-right: none;
}

.content-content .ce_11:hover {
    flex-grow: 5;
}

.ce_12 {
    position: absolute;
    bottom: 0;
    margin: 40px;
    padding: 30px;
    background-color: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0;
    transform: translateY(100px);
}
.ce_12 > h1 {
    font-family: 'Microsoft JhengHei';
}
.ce_11:hover {
    opacity: 1;
    transition: 0.5s;
}

.ce_11:hover .ce_12 {
    visibility: visible;
    opacity: 0.8;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0);
}

.contact-main {
    margin-top: 20px;
    height: 620px;
    width: 1100;
}
.use-title {
    font-family: 'Microsoft JhengHei';
}
.use-content {
    margin-top: 50px;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.use-content > div {
    display: inline-block;
}
.use-content-btn {
    height: 200px;
    width: 100px;
}
.use-content-previous-btn {
    border-radius: 20px 0 0 20px;
    background: url(../icons/previus.png) #ddd;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.use-content-next-btn {
    border-radius: 0 20px 20px 0;
    background: url(../icons/next.png) #ddd;
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}

.use-content-show-screen {
    width: 500px;
    height: 100%;
    margin: 0 100px;
    background: url(../images/instructions/0001.jpg);
    background-size: 100% 100%;
    transition: 0.5s;
}
.video {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.9);
    z-index: 3;
}
.menu-bar {
    z-index: 2;
    padding: 25px 0;
    width: 100%;
    height: 120px;
    position: fixed;
    background: #ccc;
    transition: 0.3s;
    box-shadow: 0px 6px 20px 2px rgba(110, 110, 110, 0.637);
    border-radius: 0 0 10px 10px;
    font-family: 'Microsoft JhengHei';
}
.menu-bar-logo {
    height: 100%;
    margin-left: 1.3vw;
    float: left;
}
.menu {
    text-align: center;
    float: right;
    margin-right: 2vw;
    text-align: center;
    transition: 0.3s;
    line-height: 70px;
    font-size: 36px;
}
.menu-li-trigger {
    margin: auto 1.5vw;
    transition: 0.3s;
    height: 100%;
}
.menu > ul > li {
    display: inline-block;
    text-align: center;
    font-size: 19px;
}
.menu a:link {
    text-decoration: none;
    color: #000;
}
.menu a:visited {
    color: #000;
}
.menu-li-trigger:hover {
    transition: 0s;
    color: #000;
    border-bottom: black 2px solid;
}
.menu a:active {
    color: #000;
}

video {
    width: 100%;
    height: 100%;
}
.quit-btn {
    z-index: 4;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    right: 40px;
    top: 40px;
    background: url(../icons/close-btn.jpg);
    background-size: 100% 100%;
    cursor: pointer;
}
#about {
    width: 80%;
}
.about-title {
    margin-top: 50px;
}
.about-main {
    display: flex;
    height: 500px;
    margin-top: 100px;
    font-family: 'Microsoft JhengHei';
}
.about-box {
    width: 100%;
    height: 300px;
    margin: 0 40px;
    text-align: center;
    background-color: #fff;
    color: #000;
    transition: 0.4s;
}
.about-box-title {
    width: 80%;
    margin: 40px auto;
    padding-bottom: 20px;
    font-size: 32px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.about-box-content {
    margin-top: 60px;
    font-size: 20px;
}
.about-box:hover {
    background-color: #000;
    color: #fff;
}
.about-box:hover .about-box-title {
    border-color: #fff;
}
#contact {
    width: 80%;
}
.about-us {
    width: 100%;
    height: 300px;
    display: flex;
    order: 6;
}
.p-trigger {
    letter-spacing: 2px;
    color: white;
    font-size: 24px;
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    transition: 0.5s;
}
.p-trigger:hover {
    color: black;
}
.p-trigger:hover > .p-img {
    top: 20px;
    filter: grayscale(0);
}
.p-img {
    position: relative;
    margin: 0 auto;
    display: block;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    top: 100px;
    transition: 0.5s;
}
.p1-img {
    background: url(../images/P1.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.p2-img {
    background: url(../images/P2.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.p3-img {
    background: url(../images/P3.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.p4-img {
    background: url(../images/P4.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.p5-img {
    background: url(../images/P5.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.p6-img {
    background: url(../images/P6.jpg);
    background-size: 100% 100%;
    filter: grayscale(1);
}
.about-us-quote {
    margin: 80px 0;
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.special-thanks-btn {
    margin: 0 auto;
    text-align: center;
    width: 100px;
    background: #000;
    color: white;
    font-size: 20px;
}
.special-thanks-list {
    display: none;
    margin: 0 auto;
    padding: 80px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 32px;
    width: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.918);
    color: hsl(60, 100%, 85%);
    height: 100vh;
}
.special-thanks-list > h2 {
    margin-top: 40px;
    font-size: 60px;
    letter-spacing: 6px;
}
.special-thanks-list > h4 {
    font-size: 20px;
    margin-bottom: 80px;
}
.special-thanks-list > p {
    margin: 20px;
    letter-spacing: 2px;
}
.p-small {
    font-size: 18px;
}
.aside {
    position: fixed;
    bottom: 100px;
    color: grey;
    right: 15px;
}
.aside-character {
    width: 40px;
    height: 40px;
    margin: 3vh 0;
    padding: 5px;
    position: relative;
    font-size: 20px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10%;
}
.aside-focus {
    background-color: #777;
    color: #fff;
}
.aside-focus * {
    stroke: white;
}
