* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    user-select: none;
}
::-webkit-scrollbar {
    display: none;
}

.main {
    display: none;
}

.menu-bar {
    z-index: 2;
    padding: 25px 0;
    width: 100%;
    height: 120px;
    position: fixed;
    background: #ccc;
    transition: 0.3s;
}
.logo {
    height: 100%;
    margin-left: 1.3vw;
    float: left;
}
.menu {
    text-align: center;
    float: right;
    margin-right: 2vw;
    /* word-spacing: 70px; */
    text-align: center;
    transition: 0.3s;
    line-height: 70px;
}
.menu-li-trigger {
    margin: auto 2.2vw;
    transition: 0.3s;
    height: 100%;
}
.menu > ul > li {
    display: inline-block;
    text-align: center;
    font-size: 19px;
}
.menu a:link {
    text-decoration: none;
    color: #000;
}
.menu a:visited {
    color: #000;
}
.menu-li-trigger:hover {
    transition: 0s;
    color: #000;
    border-bottom: black 2px solid;
}
.menu a:active {
    color: #000;
}

.aside {
    position: fixed;
    top: 200px;
    left: 15px;
    color: grey;
}
.aside-character {
    width: 40px;
    height: 40px;
    margin: 50px 0;
    padding: 5px;
    position: relative;
    font-size: 20px;
    text-align: center;
    transition: 0.5s;
    border-radius: 10%;
}
.aside-focus {
    background-color: #777;
    color: #fff;
}
.aside-focus * {
    stroke: white;
}

.main-box {
    padding: 120px 0;
    margin: 0 auto;
    width: 70%;
    height: 100vh;
}
.main-content {
    width: 100%;
    position: absolute;
    top: 150px;
    left: 0px;
}
.title {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 28px;
}
.content {
    padding: 10px;
    overflow-wrap: break-word;
    font-size: 20px;
    margin-top: 50px;
    height: 500px;
}

.home-title {
    background-color: slateblue;
}
.home-content {
    /* position: absolute; */
    background-color: slateblue;
}

.about-title {
    background-color: seagreen;
}

.about-main {
    margin-top: 20px;
    height: 620px;
    /*background-color: seagreen;*/
}

.a_11 {
    width: 600px;
    height: 650px;
    /*background-color: springgreen;*/
    float: left;
}
.a_21 {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: sandybrown;
}
.a_22 {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 160px;
    background-color: sandybrown;
}

.a_12 {
    position: relative;
    width: 500px;
    height: 650px;
    background-color: skyblue;
    float: right;
    /* right: 80px; */
}

.person-photo {
    position: absolute;
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    transition: 0.3s;
}
.person-photo:hover {
    transform: translateY(-80px);
    filter: grayscale(0);
}

/*上差-180px  左差50px*/
#person-photo-1 {
    top: 60px;
    left: 25px;
    background-size: cover;
    background: url(../images/02.jpg);
}
#person-photo-1:hover ~ .a_29 {
    background: url(../images/02.jpg);
    opacity: 1;
}

#person-photo-2 {
    top: 80px;
    left: 75px;
    background: url(../images/03.jpg);
}
#person-photo-2:hover ~ .a_29 {
    background: url(../images/03.jpg);
    opacity: 1;
}

#person-photo-3 {
    top: 100px;
    left: 125px;
    background: url(../images/04.jpg);
}
#person-photo-3:hover ~ .a_29 {
    background: url(../images/04.jpg);
    opacity: 1;
}

#person-photo-4 {
    top: 120px;
    left: 175px;
    background: url(../images/05.jpg);
}
#person-photo-4:hover ~ .a_29 {
    background: url(../images/05.jpg);
    opacity: 1;
}
#person-photo-5 {
    top: 140px;
    left: 225px;
    background: url(../images/06.jpg);
}
#person-photo-5:hover ~ .a_29 {
    background: url(../images/06.jpg);
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    background-size: auto 100%;
}

#person-photo-6 {
    top: 160px;
    left: 275px;
    background-color: seashell;
    object-fit: cover;
    background: url(../images/i01.jpg);
    filter: grayscale(100%);
}
#person-photo-6 img {
    transform: scale(1);
    transition: all 1s ease-out;
}
#person-photo-6:hover ~ .a_29 {
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    background-size: auto 100%;
    background: url(../images/i01.jpg);
}
.a_29 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 250px;
    height: 250px;
    border: 3px #000 solid;
}
/* .a_29 img {
    position: absolute;
    opacity: 0;
} */

.subject-title {
    background-color: yellowgreen;
}

.subject-content {
    background-color: yellowgreen;
}

.content-title {
    background-color: orange;
}

.content-content {
    margin-top: 50px;
    position: relative;
    height: 500px;
    /* background-color: orange; */
    display: flex;
    border: 2px solid #000;
}

.content-content .ce_11:nth-child(1) {
    background: url(../images/i01.jpg);
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}

.ce_11 {
    opacity: 0.5;
    position: relative;
    height: 100%;
    flex: 1;
    border-right: 2px solid rgba(0, 0, 0, 1);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.content-content:last-child {
    border-right: none;
}

.content-content .ce_11:hover {
    flex-grow: 5;
}

.ce_12 {
    position: absolute;
    bottom: 0;
    margin: 40px;
    padding: 30px;
    background-color: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0;
    transform: translateY(100px);
}

.ce_11:hover {
    opacity: 1;
    transition: 0.5s;
}

.ce_11:hover .ce_12 {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0);
}

.use-title {
    background-color: yellowgreen;
}

.use-content {
    margin-top: 50px;
    height: 450px;
}
.use-content-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.use-content-box {
    display: inline-block;
    width: 100%;
    height: 500px;
    border: #000 solid;
}
.use-content-scrollbar {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #000;
    bottom: 0;
}

#use-content-box1 {
    background-color: antiquewhite;
}
.u_22 {
    background-color: aqua;
}
.u_23 {
    background-color: aquamarine;
}
.u_24 {
    background-color: blue;
}

.contact-title {
    background-color: #000;
    color: #fff;
}

.ca_02 {
    position: relative;
    top: 20px;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ca_11 {
    position: relative;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ca_11 .ca_21 {
    width: 200px;
}

.ca_11 .ca_22 {
    width: 200px;
}

.ca_11 .ca_23 {
    width: 200px;
}
