.use-content {
    margin-top: 50px;
    height: 450px;
}
.use-content-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.use-content-box {
    display: inline-block;
    width: 100%;
    height: 500px;
    border: #000 solid;
}
.use-content-scrollbar {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #000;
    bottom: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.use-content-show-screen {
    width: 500px;
    height: 100%;
    margin: 0 100px;
    background: url(../images/instructions/0001.jpg);
    background-size: 100% 100%;
    box-shadow: 10px 10px 10px 20px;
=======
#use-content-box1 {
    background-color: antiquewhite;
>>>>>>> parent of 9dcf8e2... .
=======
#use-content-box1 {
    background-color: antiquewhite;
>>>>>>> parent of 9dcf8e2... .
=======
#use-content-box1 {
    background-color: antiquewhite;
>>>>>>> parent of 9dcf8e2... .
}
