.use-content {
    margin-top: 50px;
    height: 450px;
}
.use-content-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.use-content-box {
    display: inline-block;
    width: 100%;
    height: 500px;
    border: #000 solid;
}
.use-content-scrollbar {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #000;
    bottom: 0;
}

#use-content-box1 {
    background-color: antiquewhite;
}
