* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.menu a:link {
    text-decoration:none;
    color: #000;
}
.menu a:visited {
    color: #000;
}
.menu a:hover {
    color: #000;
    
}
.menu a:active {
    color: #000;
}
.menu-bar {
    width: 100%;
    height: 125px;
    /*background-color: skyblue;*/
}

.logo {
    width: 400px;
    height: 100%;
    line-height: 50px;
    /* padding:20px; */
    /*padding:10px red solid;*/
    margin-right: 50px;
    margin-left: 20px;
    float: left;
}

.menu {
    width: 1000px;
    height: 125px;
    text-align: center;
    line-height: 50px;
    /* padding:20px; */
    /*border:2px green solid;*/
    /*background-color: blanchedalmond;*/
    float: left;
    word-spacing: 70px;
    display: inline;
    text-align: center;
}

.menu > ul > li {
    display: inline-block;
    text-align: center;
    line-height: 120px;
    font-size: 19px;
}

.body {
    width: 100%;
    height: 100%;
}

.aside {
    position: fixed;
    top: 200px;
    left: 0px;
    width: 100px;
    height: 550px;
    /*background-color: rgba(255, 0, 0, 0.5);*/
}

.as_01 {
    word-spacing: 10px;
    line-height: 90px;
    color: grey;
}

.as_11 {
    position: relative;
    left: 15px;
    font-size: 20px;
}
.as_12 {
    position: relative;
    left: 15px;
    font-size: 20px;
}
.as_13 {
    position: relative;
    left: 15px;
    font-size: 20px;
}
.as_14 {
    position: relative;
    left: 15px;
    font-size: 20px;
}
.as_15 {
    position: relative;
    left: 15px;
    font-size: 20px;
}
.as_16 {
    position: relative;
    left: 15px;
    font-size: 23px;
}
.as_11:hover {
    color: #000;
}
.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 150px;
    left: 0px;
}

.h_01 {
    position: absolute;
    top: 25px;
    left: 150px;
    width: 150px;
    height: 50px;
    background-color: slateblue;
}

.h_02 {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 1200px;
    height: 500px;
    background-color: slateblue;
}

.a_01 {
    position: relative;
    top: 25px;
    left: 1250px;
    width: 150px;
    height: 50px;
    background-color: seagreen;
}

.a_02 {
    position: relative;
    top: 20px;
    left: 150px;
    width: 1250px;
    height: 620px;
    /*background-color: seagreen;*/*/
}

.a_11 {
    width: 750px;
    height: 650px;
    /*background-color: springgreen;*/
    float:left;
}

.a_21 {
    position: relative;
    top: 20px;
    left: 20px;
    width: 700px;
    height: 450px;
    background-color: sandybrown;
}

.a_22 {
    position: relative;
    top: 30px;
    left: 20px;
    width: 700px;
    height: 160px;
    background-color: sandybrown;
}

.a_12 {
    position: relative;
    width: 500px;
    height: 650px;
    background-color: skyblue;
    float: left;
}

/*上差-170px  左差50px*/
.a_23 {
    top: 20px;
    left: 25px;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: seashell;
    background-size: cover;
}
.a_24 {
    position: relative;
    top: -150px;
    left: 75px;
    width: 200px;
    height: 200px;
    background-color: seashell;
}
.a_25 {
    position: relative;
    top: -320px;
    left: 125px;
    width: 200px;
    height: 200px;
    background-color: seashell;
}
.a_26 {
    position: relative;
    top: -490px;
    left: 175px;
    width: 200px;
    height: 200px;
    background-color: seashell;
}
.a_27 {
    position: relative;
    top: -660px;
    left: 225px;
    width: 200px;
    height: 200px;
    background-color: seashell;
}
.a_28 {
    position: relative;
    top: -830px;
    left: 275px;
    width: 200px;
    height: 200px;
    background-color: seashell;
    object-fit: cover;
    background:url(../images/i01.jpg);
    filter: grayscale(100%);
}
.a_28{
    /* overflow:hidden; */
}

.a_28 img{
    transform:scale(1);transition: all 1s ease-out;
}

.a_28:hover {
    filter: grayscale(0%);
}
.a_28:hover img{
    transform:scale(1.2);
}

.a_28:hover ~ .a_29 {
    background: url(../images/i01.jpg);
    background-size: auto 100%;
}

.a_29 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 250px;
    height: 250px;
    border: 3px #000 solid;

}

.a_28:hover ~ .a_29 {
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
    background:url(../images/i01.jpg);
    background-size: auto 100%;
}

.s_01 {
    position: relative;
    top: 25px;
    left: 150px;
    width: 150px;
    height: 50px;
    background-color: yellowgreen;
}

.s_02 {
    position: relative;
    top: 100px;
    left: 150px;
    width: 1200px;
    height: 500px;
    background-color: yellowgreen;
}

.ce_01 {
    position: relative;
    top: 25px;
    left: 150px;
    width: 150px;
    height: 50px;
    background-color: orange;
}

.ce_02 {
    position: relative;
    top: 100px;
    left: 150px;
    width: 1200px;
    height: 500px;
    /* background-color: orange; */
    display: flex;
    border: 2px solid #000;
}

.ce_02 .ce_11:nth-child(1) {
    background: url(../images/i01.jpg);
    opacity: 0.5;
    border-right: 2px solid rgba(0, 0, 0, 1);
    background-position: center center;
    background-size: auto 100%;
    border-right: opacity none;
}

.ce_11 {
    position: relative;
    height: 100%;
    flex: 1;
    border-right: 2px solid rgba(0, 0, 0, 1);
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.ce_11:last-child {
    border-right: none;
}

.ce_11:hover {
    flex-grow: 5;
}

.ce_12 {
    position: absolute;
    bottom: 0;
    margin: 40px;
    padding: 30px;
    background-color: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0;
    transform: translateY(100px);
}

.ce_02 .ce_11:hover {
    opacity: 1;
    transition: 0.5s;
}

.ce_02 .ce_11:hover .ce_12 {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0);
}

.u_01 {
    position: relative;
    top: 25px;
    left: 150px;
    width: 150px;
    height: 50px;
    margin-bottom: 50px;
    background-color: yellowgreen;
}

.u_02 {
    position: relative;
    left: 150px;
    width: 1200px;
    height: 500px;
}

.u_11 {
    display: flex;
    width: 1200px;
    height: 500px;
    overflow-x: auto;
    overflow-y: hidden;
}

.u_11::-webkit-scrollbar-button {
    width: 0px;
}

.u_21 {
    min-width: 1200px;
    height: 450px;
    background-color: antiquewhite;
    margin-bottom: 50px;
    border: #000 solid;
}
.u_22 {
    min-width: 1200px;
    height: 450px;
    background-color: aqua;
    margin-bottom: 50px;
    border: #000 solid;
}
.u_23 {
    min-width: 1200px;
    height: 450px;
    background-color: aquamarine;
    margin-bottom: 50px;
    border: #000 solid;
}
.u_24 {
    min-width: 1200px;
    height: 450px;
    background-color: blue;
    margin-bottom: 50px;
    border: #000 solid;
}

.ca_01 {
    position: relative;
    top: 25px;
    left: 150px;
    width: 150px;
    height: 50px;
    background-color: #000;
}

.ca_02 {
    position: relative;
    top: 20px;
    left: 150px;
    width: 1250px;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ca_11 {
    position: relative;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ca_11 .ca_21 {
    width: 200px;
}

.ca_11 .ca_22 {
    width: 200px;
}

.ca_11 .ca_23 {
    width: 200px;
}

#home {
    width: 100%;
    height: 750px;
}

#about {
    width: 100%;
    height: 800px;
}

#subject {
    width: 100%;
    height: 800px;
}
#content {
    width: 100%;
    height: 800px;
}

#use {
    width: 100%;
    height: 800px;
}

#contact {
    width: 100%;
    height: 700px;
}
