* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.menu-bar {
    width: 100%;
    height: 125px;
    background-color: skyblue;
}

.logo {
    width: 300px;
    height: 100%;
    line-height: 50px;
    /* padding:20px; */
    padding: 10px red solid;
    margin-right: 200px;
    background-color: rgba(9, 81, 122, 0.911);
    float: left;
}

.menu {
    width: 900px;
    height: 125px;
    text-align: center;
    line-height: 50px;
    /* padding:20px; */
    border: 2px green solid;
    background-color: blanchedalmond;
    float: left;
    word-spacing: 100px;
    display: inline;
}

.menu > ul > li {
    display: inline-block;
}

.body {
    width: 100%;
    height: 100%;
}

.aside {
    position: fixed;
    top: 125px;
    left: 0px;
    width: 150px;
    height: 500px;
    background-color: rgba(255, 0, 0, 0.5);
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 150px;
    left: 0px;
}

.h_01 {
    position: absolute;
    top: 25px;
    left: 150px;
    width: 150px;
    height: 50px;
    background-color: slateblue;
}

.h_02 {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 1200px;
    height: 500px;
    background-color: slateblue;
}

.a_01 {
    position: relative;
    top: 25px;
    left: 1250px;
    width: 150px;
    height: 50px;
    background-color: seagreen;
}

.a_02 {
    position: relative;
    top: 20px;
    left: 150px;
    width: 1250px;
    height: 620px;
    background-color: seagreen;
}

.a_11 {
    width: 750px;
    height: 620px;
    background-color: springgreen;
    float: left;
}

.a_21 {
    position: relative;
    top: 20px;
    left: 20px;
    width: 600px;
    height: 450px;
    background-color: sandybrown;
}

.a_22 {
    position: relative;
    top: 50px;
    left: 20px;
    width: 600px;
    height: 120px;
    background-color: sandybrown;
}

.a_12 {
    position: relative;
    width: 500px;
    height: 100%;
    background-color: skyblue;
    float: left;
}

.a_23 {
    position: relative;
    top: 20px;
    left: 50px;
    width: 100px;
    height: 100px;
    background-color: seashell;
}

.a_29 {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: seashell;
}

.s_01 {
    position: relative;
    top: 25px;
    left: 150px;
    width: 150px;
    height: 50px;
    background-color: yellowgreen;
}

.s_02 {
    position: relative;
    top: 100px;
    left: 150px;
    width: 1200px;
    height: 500px;
    background-color: yellowgreen;
}

.ce_01 {
    position: relative;
    top: 25px;
    left: 150px;
    width: 150px;
    height: 50px;
    background-color: orange;
}

.ce_02 {
    position: relative;
    top: 100px;
    left: 150px;
    width: 1200px;
    height: 500px;
    /* background-color: orange; */
    display: flex;
    border: 2px solid #000;
}

.ce_11 {
    position: relative;
    height: 100%;
    flex: 1;
    border-right: 2px solid#000;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.ce_11:last-child {
    border-right: none;
}

.ce_11:hover {
    flex-grow: 5;
}

.ce_02 .ce_11:nth-child(1) {
    background: url(../images/i01.jpg);
    opacity: 0.5;
    background-position: center center;
    background-size: auto 100%;
}

.ce_12 {
    position: absolute;
    bottom: 0;
    margin: 40px;
    padding: 30px;
    background-color: #000;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0;
    transform: translateY(100px);
}

.ce_02 .ce_11:hover {
    opacity: 1;
    transition: 0.5s;
}

.ce_02 .ce_11:hover .ce_12 {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0);
}

.u_01 {
    position: relative;
    top: 25px;
    left: 150px;
    width: 150px;
    height: 50px;
    background-color: yellowgreen;
}

.u_02 {
    position: relative;
    top: -100px;
    left: 150px;
    width: 500px;
    height: 1200px;
    background-color: yellowgreen;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
}

.u_21 {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}
.u_22 {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}
.u_23 {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}
.u_24 {
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
}

.u_11 {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

#home {
    width: 100%;
    height: 800px;
}

#about {
    width: 100%;
    height: 800px;
}

#subject {
    width: 100%;
    height: 800px;
}
#content {
    width: 100%;
    height: 800px;
}

#use {
    width: 100%;
    height: 800px;
}

#contact {
    width: 100%;
    height: 700px;
    background-color: seagreen;
}
